/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#tweets_list{
	/*text-align: center;*/
	padding: 0 20%;
	list-style-type: none;

}

 #tweets_list > li > .message {
 	padding: 2px 17px;
 }

 #tweets_list > li > .time-ago {
 } 



 #tweets_list > li{
 	border-top: solid #2a98a2 1px; 
 	border-bottom: solid #2a98a2 1px; 
 }

#logo{
	margin: 0 40%;
}

#footer {
	text-align: center;
}